doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  body
    footer(class="page-footer fixed-bottom")
        div(class="footer-copyright text-center py-3")
            |2020 Copyright: Michael Galos