doctype html
html
  body
  <!--Universal Navbar For Website-->
    nav(class='navbar navbar-expand-lg navbar-light bg-light') 
        a.class#ID(href='/' class="navbar-brand")
            |Home
        a.class#ID(href='/about' class="navbar-brand")
            |About Me
        a.class#ID(href='/projects' class="navbar-brand")
            |Projects
        a.class#ID(href='/services' class="navbar-brand")
            |Services
        a.class#ID(href='/contact' class="navbar-brand")
            |Contact Me