extends layout

block content
    div(class="row d-flex justify-content-center")
      div(class="col-md-6")
          h1= title
          br
          div(class="col-md-3 text-center")
            ul(class="list-unstyled mb-0")
                li
                    i
                        p Barrie, L4M4Y8, Canada
                    i
                        p michael.a.galos@gmail.com
                    i
                        p 1-705-790-0584