doctype html
//this dictate the main style of the site and includes the header and footer
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  body
    include partials/header
    block content
    include partials/footer